
<md-dialog aria-label="Manage User Admin">
  <div class="dialog-content">
      <md-content>
            <md-whiteframe class="md-whiteframe-z1" layout style="padding: 20px">
                <div flex>

                    <md-text-float label="Firstname" ng-model="obj.firstName"></md-text-float>
                    <md-text-float label="Lastname" ng-model="obj.lastName"></md-text-float>
                    <md-text-float label="Nickname" ng-model="obj.nickName"></md-text-float>
                    <md-text-float label="Birthdate" ng-model="obj.birthDate" type="date"></md-text-float>

                    <!-- Table userlogin-->
                    <md-text-float label="Username" ng-model="obj.userName" type="text"></md-text-float>
                    <md-text-float label="Email" ng-model="obj.email" type="email"></md-text-float>
                    <md-text-float label="Password" ng-model="obj.password" type="password"></md-text-float>

                    <!-- <div flex><input type="file" label="schoolPicture" File-Model="schoolPicture"></div> -->

                    <div layout="vertical" layout-sm="horizontal" >
                        <div ng-if="fromAction == 'Add'">
                          <md-button ng-click="saveAdd(obj)" class="md-button-fab bigEntrance" aria-label="">
                              <i class="fa fa-plus"></i>
                          </md-button>
                        </div>
                        <div ng-if="fromAction == 'Edit'">
                          <md-button ng-click="saveEdit(obj)" class="md-button-fab bigEntrance" aria-label="">
                              <md-icon icon="/img/icons/check.svg"></md-icon>
                          </md-button>
                        </div>
                    </div>
                </div>

            </md-whiteframe>
      </md-content>
  </div>
</md-dialog>
