
<md-dialog aria-label="Manage School">
  <div class="dialog-content">
      <md-content>
            <md-whiteframe class="md-whiteframe-z1" layout style="padding: 20px">
                <div flex>
                    <div flex><md-text-float label="School Name" ng-model="obj.schoolName" class="long" ></md-text-float></div>
                    <div flex><md-text-float label="Address" ng-model="obj.address" ></md-text-float></div>
                    <div flex><input type="file" label="schoolPicture" File-Model="schoolPicture"></div>

                    <div layout="vertical" layout-sm="horizontal" >
                        <div ng-if="fromAction == 'Add'">
                          <md-button ng-click="saveAdd(obj)" class="md-button-fab bigEntrance" aria-label="">
                              <i class="fa fa-plus"></i>
                          </md-button>
                        </div>
                        <div ng-if="fromAction == 'Edit'">
                          <md-button ng-click="saveEdit(obj)" class="md-button-fab bigEntrance" aria-label="">
                              <md-icon icon="/img/icons/check.svg"></md-icon>
                          </md-button>
                        </div>
                    </div>
                </div>

            </md-whiteframe>
      </md-content>
  </div>
</md-dialog>
