
<div layout="row" ng-controller="DeviceListCtrl" flex>
  <md-content>

        <md-card class="card-left">
           <img src="https://material.angularjs.org/img/washedout.png" class="md-card-image" alt="Washed Out" pagespeed_url_hash="3292878804" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
           <h2>นายไกลวุฒิ ฐานะดี</h2>
           <p>
             อาจารย์ประจำชั้นป.6
           </p>
           <div>
             <md-button class="md-primary">
             <i class="fa fa-pencil-square-o"></i>
             </md-button>
             <md-button class="md-primary">
             <i class="fa fa-times"></i>
           </md-button>
         </div>
        </md-card>
  </md-content>
</div>
