<div ng-controller="SchoolUserAdminCtrl" flex>

      <md-button aria-label ng-click="doAddUserAdminSchool();" class="md-fab md-primary btn-add" md-theme="cyan" aria-label="login">
        <i class="fa fa-plus"></i>
      </md-button>

      <div layout="row">
          <label>School Name : </label>
          <select ng-model="mySchool" ng-options="s.schoolName for s in schoolOptions" ng-change="changeSchoolOption()">
          </select><br>
      </div>
      <md-card class="card-left" ng-repeat="userAdmin in userAdminList">
         <!-- <img ng-src="{{school.pictureUrl}}" class="md-card-image"> -->
         <img src="https://material.angularjs.org/img/washedout.png" class="md-card-image">
         <h2>{{userAdmin.firstName | limitTo:20}}</h2>
         <p>{{userAdmin.lastName | limitTo:20}}</p>

           <md-button aria-label class="md-primary" ng-click="doEditSchool(school,$index);">
             <i class="fa fa-pencil-square-o"></i>
           </md-button>
           <md-button aria-label class="md-primary" ng-click="showConfirmDelete($index,school);">
             <i class="fa fa-times"></i>
           </md-button>

      </md-card>

</div>
