<div ng-controller="SchoolListCtrl" flex>


        <md-button aria-label ng-click="doAddSchool();" class="md-fab md-primary btn-add" md-theme="cyan" aria-label="login">
          <i class="fa fa-plus"></i>
        </md-button>


        <md-card class="card-left" ng-repeat="school in schoolAlls">
           <img ng-src="{{school.pictureUrl}}" class="md-card-image">
           <h2>{{school.schoolName | limitTo:20}}</h2>
           <p>{{school.address | limitTo:20}}</p>

             <md-button aria-label class="md-primary" ng-click="doEditSchool(school,$index);">
               <i class="fa fa-pencil-square-o"></i>
             </md-button>
             <md-button aria-label class="md-primary" ng-click="showConfirmDelete($index,school);">
               <i class="fa fa-times"></i>
             </md-button>

        </md-card>


</div>
