
<md-dialog aria-label="Manage device">
  <div class="dialog-content">
    <div layout="vertical">
      <md-content>
        <form style="padding: 50px 50px 50px 50px">

            <md-whiteframe class="md-whiteframe-z1" layout style="padding: 20px">

                <div flex>
                    <div flex><md-text-float label="Device ID" ng-model="obj.deviceId" class="long" ></md-text-float></div>
                    <div flex><md-text-float label="Serial No" ng-model="obj.serialNo" ></md-text-float></div>
                    <div flex><md-text-float label="Brand" ng-model="obj.brand"> </md-text-float></div>
                    <div flex><md-text-float label="Model" ng-model="obj.model"></md-text-float></div>
                    <!-- <div layout="vertical" layout-sm="horizontal">
                      <div><md-text-float label="Brand" value="obj.brand"> </md-text-float></div>
                      <div offset="25"><md-text-float label="Model" value="obj.model"></md-text-float></div>
                    </div> -->
                    <div layout="vertical" layout-sm="horizontal" >
                        <div ng-if="fromAction == 'Add'">
                          <md-button ng-click="saveAdd(obj)" class="md-button-fab bigEntrance" aria-label="">
                              <i class="fa fa-plus"></i>
                          </md-button>
                        </div>
                        <div ng-if="fromAction == 'Edit'">
                          <md-button ng-click="saveEdit(obj)" class="md-button-fab bigEntrance" aria-label="">
                              <md-icon icon="/img/icons/check.svg"></md-icon>
                          </md-button>
                        </div>
                    </div>
                </div>


            </md-whiteframe>
        </form>
      </md-content>
    </div>
  </div>
</md-dialog>
