
<div layout="vertical" ng-controller="DeviceListCtrl">
  <md-content>
    <form style="padding: 50px 100px 100px 100px">

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="padding: 20px">
            <div flex>
                <div>
                  <md-button ng-click="doAddDevice($event)" class="md-button-fab bigEntrance" aria-label="">
                      <!-- <md-icon icon="/img/icons/check.svg"></md-icon> -->
                      <i ng-class="{true:'fa fa-trash',false:'fa fa-check'}[isDeleteDevice]"></i>
                  </md-button>
                </div>
                <div layout="vertical" style="border-bottom:1px solid rgba(0, 0, 0, 0.12) !important;">
                  <div layout="vertical" layout-sm="horizontal" layout-padding layout-tablet-landscape="row" layout-pc="row">

                      <div flex-sm="5"><md-checkbox aria-label="selectedAllname" ng-model="selectedAll" ng-click="checkAll()"></md-checkbox></div>
                      <div flex-sm="25">
                        <div>Device Id</div>
                      </div>

                      <div flex-sm="25">
                        <div>Serial No.</div>
                      </div>

                      <div flex-sm="25">
                        <div>Brand</div>
                      </div>

                      <div flex-sm="25">
                        <div>Last modified</div>
                      </div>

                      <div flex-sm="5"></div>

                </div>
              </div>
              <div layout="vertical"  layout-padding ng-repeat="device in deviceAlls">
                  <div flex-sm="5">
                    <md-checkbox aria-label="" ng-model="device.Selected" ng-click="checkToDelete()"></md-checkbox>
                  </div>
                  <div flex-sm="25">
                    <div>{{device.deviceId}}</div>
                  </div>

                  <div flex-sm="25">
                    <div>{{device.serialNo}}</div>
                  </div>

                  <div flex-sm="25">
                    <div>{{device.brand}}</div>
                  </div>

                  <div flex-sm="25">
                    <div>{{device.updateDate | date:'MM/dd/yyyy'}}</div>
                  </div>

                  <div flex-sm="5">
                    <div style="height:25px;">
                      <md-button ng-click="doEditDevice(device)">
                          <i class="fa fa-pencil-square-o" style="margin-top:-5px;font-size:20px;"></i>
                      </md-button>

                      </div>
                  </div>

              </div>

            </div>
        </md-whiteframe>
    </form>
  </md-content>
</div>
