.bg {
  background-color: #eee;
}
.textFieldDemo1 form > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -8px; }
.textFieldDemo1 .row > * {
  font-size: inherit;
  margin: 0 8px; }
.textFieldDemo1 material-input-group.long > input {
  width: 264px;
}
.border-menu {
  position: relative;
  padding-left: 1.25em;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 0.85em;
  left: 0.5em;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #fff;
  border-bottom: 0.125em solid #fff;
}
.box-shadow-menu {
  position: relative;
  padding-left: 0.25em;

  height:30px;width:60px;float:left;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 0.55em;
  width: 1em;
  height: 0.15em;
  background: #fff;
  box-shadow:
    0 0.25em 0 0 #fff,
    0 0.5em 0 0 #fff;
}
.list-btn{
  height:2.5em;
  width:100%;
}
#main-menu md-sidenav md-button .md-button-inner {
  text-align: left;
  text-transform: none;
  font-size: 14px;
}
element.style {
}
.login-header {
  font-size: 1.5em;
  color: #00BCD4;
  font-weight: lighter;
}
.wide.card {
  margin-top: 64px;
  max-height: 580px;
  max-width: 512px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 2px;
}
.card {
  background-color: #fff;
  padding: 20px 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.material-content-padding{
  background-color: #fff;
}
.half-header{
  position:fixed;
  top:0;
  right:30px;
  margin-top:30px;
}
.burger-menu{

}
.material-theme-pink {
  background-color: #e91e63 !important;
  color: #f1f1f1 !important; }
.hidden {
  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width:50%; height:50%
}

.md-whiteframe-z1 {
  background-color: #fff;
}

md-checkbox {
  margin: 0px;
}

md-checkbox .md-icon {
  width: 14px;
  height: 14px;
}
md-checkbox.md-checked .md-icon:after {
  left: 2px;
  top: -2px;
}
md-sidenav {
  width: 230px;
}
.page md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px;
}
.page .body-content .toolbar md-button:not(.md-button-fab) {
  width: 10em;
}
/* Class Room Table Style */
div.table {
  padding: 5px;
}
div.table .title {
  padding: 5px;
  border-bottom: 3px solid #000;
  font: normal normal 24px serif;
}
div.table .body {
  padding: 5px;
  border-bottom: 1px solid #000;
}
/* End: Class Room Table Style */
section.toolbar {
  height: 40px;
  padding: 5px 10px;
}

section.toolbar md-button {
  padding: 0 10px;
}

.card-left{
 float:left;
 width:180px;
 height:180px;
}
.card-left h2{
 font-size:1.0em;
 display: block;
 -webkit-margin-before: 0.4em;
 -webkit-margin-after: 0.4em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 font-weight: bold;
 line-height: 1.1;
}
.card-left p{
 font-size:0.8em;
 line-height: 1.1;
 -webkit-margin-before: 0em;
 -webkit-margin-after: 0em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
}
.card-left div{
 margin-bottom:3px;float:right
}

.btn-add {
  top: 30px;
  background-color: #EEFF41;
  color: #9E9E9E;
  position: fixed;
  right: 30px;
  z-index: 999;
}
