
<div ng-controller="ClassRoomCtrl" layout="vertical">

  <md-button class="md-button-fab md-theme-light-blue half-header" aria-label="Edit">
      <i class="fa fa-pencil" style="font-size:20px;"></i>
  </md-button>

  <div style="padding: 20px;" class="table">

    <div layout="vertical" layout-sm="horizontal" class="title">
      <div flex="25">
        Class
      </div>
      <div>
        Room
      </div>
    </div>

    <div ng-repeat="classes in classroom" layout="vertical" layout-sm="horizontal" class="body">
      <div flex="25">
        {{classes.className}}
      </div>
      <div>
        <ul>
          <li ng-repeat="room in classes.rooms">{{room.roomName}}</li>
        </ul>
      </div>
    </div>

  </div>

</div>
