<h1>Complete</h2>
<br/>
{{obj}}
<br>
<button ng-click="logout()">Logout</button>
<br>
<button ng-click="student()">Student</button>

<button ng-click="getSession()">getSession</button>
<button ng-click="clear()">clear</button>
