<div ng-controller="GeofenceCtrl">
  <!-- <md-content> -->
    <div layout="row">
        <label>School Name : </label>
        <select ng-model="mySchool" ng-options="s.schoolName for s in schoolOptions" ng-change="changeSchoolOption()">
        </select>
        <br>
    </div>
    <div layout="row">
      <div flex layout="vertical">

        <md-button aria-label ng-click="edit();" class="md-fab md-primary btn-add" md-theme="cyan" aria-label="login">
          <i class="fa fa-pencil"></i>
        </md-button>

        <!-- <md-button ng-click="edit()" ng-hide="isEditMode" class="md-button-fab md-theme-light-blue half-header" aria-label="Edit">
            <i class="fa fa-pencil" style="font-size:20px;"></i>
        </md-button> -->
        <section ng-show="isEditMode" layout="horizontal" layout-align="start" class="toolbar md-theme-indigo">
          <md-button class="md-button-raised md-theme-light-blue" ng-click="save()" ng-show="isEditMode">Save</md-button>&nbsp;&nbsp;
          <md-button class="" ng-click="cancel()" ng-show="isEditMode">Cancel</md-button>
        </section>

        <div id="map" style="width: 900px; height: 100%"></div>

      </div>
    </div>


  <!-- </md-content> -->
</div>
