<div layout="vertical" >
  <md-content>
    <div layout="vertical" layout-align="center center" style="padding-top:50px;height:50px;" >Admin Management
    </div>
    <form style="padding: 0px 400px 20px 400px">
    <div class="card wide" layout="" >
      <div class="indent" layout="vertical" >
        <div class="login-header"></div>
        <div class="row">
          <md-text-float label="Username" ng-model="user.name" > </md-text-float>
          <md-text-float label="Password" type="password" ng-model="user.password"  > </md-text-float>
        </div>

        <div layout="horizontal" layout-padding style="height:150px;">

          <div flex>
            <md-button ng-click="login(user)" class="md-fab bigEntrance" aria-label="login">
              <md-icon icon="/img/icons/check.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
          </div>
        </div>

      </div>
    </div>
    </form>
  </md-content>
</div>
