<div id="main-menu" layout="column" layout-fill>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
      <md-toolbar class="md-theme-indigo">
        <h2 class="md-toolbar-tools">
          <span>Menu</span>
        </h2>
      </md-toolbar>

      <md-content class="md-padding {{pageClass}}" >
        <md-button aria-label noink class="md-button-colored list-btn" ng-click="goto(0)">Manage School</md-button>
        <md-button aria-label noink class="md-button-colored list-btn" ng-click="goto(1)">Manage Geo-Fence</md-button>
        <md-button aria-label noink class="md-button-colored list-btn" ng-click="goto(2)">Manage School Admin</md-button>
      </md-content>

    </md-sidenav>

    <md-content flex class="">
      <md-toolbar class="md-theme-indigo">
        <div>
          <md-button aria-label ng-click="toggleLeft()"
            class="md-button-colored box-shadow-menu" hide-md>
          </md-button>
          <span>{{title}}</span>
        </div>
      </md-toolbar>

        <div class="{{ pageContentClass }}" layout="vertical" layout-fill layout-align="" style="height:100%">
          <div ng-include="template.url"></div>
          <div >

          </div>
        </div>
    </md-content>
  </section>
</div>
<style>p{text-align:center}</style>
