
<material-content class="material-content-padding" ng-controller="SchoolCtrl">
<material-button ng-click="save(obj)" class="material-button-fab material-theme-light-blue half-header bigEntrance" ng-show="isShow">
<i class="fa fa-check" style="font-size:20px;text-align:center;"></i>
</material-button>
<material-button ng-click="changeToEdit(1)" class="material-button-fab material-theme-light-blue half-header" ng-show="isBtnEdit">
  <i class="fa fa-pencil" style="font-size:20px;"></i>
</material-button>
<material-button ng-click="changeToEdit(2)" class="material-button-fab material-theme-light-blue half-header" ng-show="isBtnClose">
  <i class="fa fa-close" style="font-size:20px;"></i>
</material-button>
  <div class="header">Edit School info</div>
  <div layout="horizontal" layout-align="center center" >
    <i class="fa fa-university" style="padding-right:15px;margin-top:15px;"></i>
    <material-input-group ng-disabled="isEdit">
      <label for="i1">ชื่อโรงเรียน</label>
      <material-input id="i1" ng-model="obj.schoolName"></material-input>
    </material-input-group>
  </div>
  <div layout="horizontal" layout-align="center center" >
    <i class="fa fa-map-marker" style="padding-right:15px;margin-top:15px;font-size:20px;"></i>
    <material-input-group ng-disabled="isEdit">
      <label for="i1">ที่อยู่</label>
      <material-input id="i1" ng-model="obj.address" class="long"></material-input>
    </material-input-group>
  </div>


</material-content>
